<head>
<style>
html { 
  background: url('/assets/logo.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,h3 {
    color: white;
    margin-left: 20px;
} 
</style>
</head>
<body>
<h1>Welcome Docker Meetup folks!</h1>
<h3>If you're reading this you too could be managing local workflow with Fig</h3>

</body>
